@model List<Employee>
<hr class="my-5" />

<!-- Bordered Table -->
<div class="card">
    <div class="card-header" style="display:flex;justify-content:space-between">
        <h2>
            İşçilər
        </h2>
        <div>
            <a class="btn btn-primary" asp-action="SendAllEmail">
                <i class="fa-sharp fa-solid fa-envelope"></i>
            </a>
            <a asp-action="Create" class="btn btn-success text-white" style="margin-right:10px">
                <i class="fa-sharp fa-solid fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table id="table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Email</th>
                        <th>Telefon</th>
                        <th>Doğum tarixi</th>
                        <th>Vəzifə</th>
                        <th>Maaş</th>

                        <th style="text-align:right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Employee item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Surname</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.Brith.ToShortDateString()</td>
                            <td>@item.Position.Name</td>
                            <td>@item.Position.Salary</td>
                            <td>
                                <div style="display:flex;justify-content:flex-end">
                                    <a asp-action="SendEmail" asp-route-id="@item.Id" class="btn btn-primary text-white" style="margin-right:10px"> <i class="fa-sharp fa-solid fa-envelope"></i> </a>
                                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-info text-white" style="margin-right:10px"><i class="fa-solid fa-pen"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger text-white" style="margin-right:10px"><i class="fa-solid fa-trash"></i></a>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--/ Bordered Table -->

<hr class="my-5" />

@section Css{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" />
}

@section Scripts{

    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
}